$color-group-1a: #FFB300;

$color-group-2a: #880E4F;
$color-group-2b: #F44336;

$color-group-3a: #03A9F4;
$color-group-3b:#AA00FF;

$color-group-4a: #424242;
$color-group-4b: #616161;

$color-group-5a: #B0BEC5;
$color-group-5b: #CFD8DC;
$color-group-5c: #E3F2FD;
$color-group-5d: #E0F2F1;

$color-black: #000;
$color-white: #fff;
